/*primary-background color  #FFFFFF */
/*secondary-background color #757575 */
/*footer-background color #000000 */
/*primaryy-text color #212121 */
/*seconday-text color #757575 */
/*accent color #2196F3 */

:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #757575;
  --footer: #000000;
  --primaryy-text-color: #212121;
  --seconday-text-color: #757575;
  --accent-color: #2196f3;
  --button: #f5f4fa;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
* ul {
  list-style: none;
  padding-left: 0px;
}

* img {
  display: block;
}

body {
  color: var(--primaryy-text-color);
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
}

/* Logo */
header {
  border-bottom: solid 1px;
  border-bottom-color: #ececec;
}

.hat {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}
.nav__logo {
  display: flex;
  align-items: center;

  color: var(--footer);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration-line: none;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__part {
  color: var(--accent-color);
}
.nav__logo:focus,
.nav__logo:hover {
  color: var(--accent-color);
}

/* Menu nav */
.menu-nav {
  display: flex;
  margin-left: 93px;
  color: var(--primaryy-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  list-style: none;
}

.menu-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration-line: none;
  color: var(--primaryy-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link:hover,
.menu-nav__link:focus {
  color: var(--accent-color);
}
.menu-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.menu-nav__link--current::after {
  content: '';
  display: block;

  position: absolute;
  left: 0;
  bottom: 0;

  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.menu-nav li {
  text-decoration-line: none;
}
.menu-nav li + li {
  margin-left: 50px;
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.contacts__link {
  text-decoration-line: none;
  color: var(--seconday-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts li + li {
  margin-left: 50px;
}
.contacts__item,
.contacts__point {
  display: flex;
  align-items: center;
  list-style: none;
}
.contacts__envelope {
  margin-right: 10px;
  padding: 0px;
  width: 16px;
  height: 10px;
  fill: var(--seconday-text-color);
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__smartphone {
  margin-right: 10px;
  padding: 0px;
  width: 10px;
  height: 16px;
  fill: var(--seconday-text-color);
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__point:hover .contacts__smartphone,
.contacts__point:focus .contacts__smartphone,
.contacts__item:hover .contacts__envelope,
.contacts__item:focus .contacts__envelope {
  fill: var(--accent-color);
}

/*main-section*/
.main-section {
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;

  background-color: var(--primaryy-text-color);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/bcg-photo.jpg);
  background-size: cover;
}

.main-section__heading {
  margin-bottom: 30px;

  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.main-section__button {
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;

  background-color: var(--accent-color);
  color: var(--primary-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section__button:hover,
.main-section__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* features */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
}
.features__list li + li {
  margin-left: 30px;
}
.features__list .features__item {
  width: 270px;
}

.features .feature__names {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.features .feature__def {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--seconday-text-color);
  letter-spacing: 0.03em;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}
.feature__picture {
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}
/* чем мы занимаемся  */
.pictures {
  padding-bottom: 94px;
}

.secondary-heading {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.pictures__list {
  display: flex;
  justify-content: center;
}
.pictures__list li + li {
  margin-left: 30px;
}

.pictures__list li {
  width: 370px;
  position: relative;
}
.pictures__description {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03;
  color: var(--primary-background-color);

  background-color: rgba(47, 48, 58, 0.8);
}
/* team */

.team-info {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--button);
}

.team__box {
  width: 270px;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__box:hover,
.team__box:focus {
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team {
  display: flex;
  justify-content: center;
}
.team > li + li {
  margin-left: 30px;
}

.team__member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__occupation {
  margin-bottom: 16px;

  color: var(--seconday-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.social-media {
  display: flex;
  justify-content: center;
}

.social-media__link {
  fill: rgba(175, 177, 184, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover .social-media__icons,
.social-media__link:focus .social-media__icons {
  fill: var(--primary-background-color);
}
.social-media__link:focus,
.social-media__link:hover {
  background-color: var(--accent-color);
}

.social-media__list:not(:last-child) {
  margin-right: 10px;
}

/*cliens*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.clients__link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 172px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__info:not(:last-child) {
  margin-right: 30px;
}
.clients__icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icons,
.clients__link:focus .clients__icons {
  fill: var(--accent-color);
}
.clients__link:focus,
.clients__link:hover {
  border-color: var(--accent-color);
}

/*footer*/
.basement {
  display: flex;
  justify-content: center;

  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.basement__container {
  width: 1200px;
  display: flex;
  align-items: baseline;
}

/* info */

.info {
  display: flex;
  flex-direction: column;
}
.info__logo {
  color: var(--accent-color);
}

.info__brandmark {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-background-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration-line: none;
  letter-spacing: 0.03em;
}

.info__brandmark:hover,
.info__brandmark:focus {
  color: var(--accent-color);
}
.info__address {
  display: block;

  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: var(--primary-background-color);
  letter-spacing: 0.03em;
}

.info__contacts {
  display: block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info__contacts:focus,
.info__contacts:hover {
  color: var(--secondary-background-color);
}

/* social-list */

.social-list {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.social-list__heading {
  margin-bottom: 20px;

  color: var(--primary-background-color);
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.7;
}

.social-list__points {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

/* subscription */

.subscription {
  display: flex;
  flex-direction: column;

  margin-left: auto;
}

.subscription__heading {
  margin-bottom: 20px;

  color: var(--primary-background-color);
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.7;
}

.subscription__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subscription__input {
  display: flex;
  padding: 15px 16px;
  margin-right: 12px;

  height: 50px;
  width: 350px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2196f300;
  color: #ffffff99;

  outline: none;
}
.subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  width: 200px;
  height: 50px;
  color: #fff;
  background-color: var(--accent-color);

  border: var(--accent-color);
  border-radius: 4px;
}
.subscription-button__image {
  display: flex;
  margin-left: 10px;

  font-weight: 700;
  line-height: 1.9;
  font-style: normal;
  letter-spacing: 00.06em;
  font-size: 16px;
}

/*Portfolio*/

.portfolio-heading {
  display: none;
}

.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* button menu */

.button-nav {
  display: flex;
  justify-content: center;
}
.button-nav li + li {
  margin-left: 8px;
}
.button-nav__menu {
  border-radius: 4px;
  border: 0px;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  background-color: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-nav__menu:focus,
.button-nav__menu:hover {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button-nav__main {
  border-radius: 4px;
  border: 0px;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  background-color: var(--accent-color);
  color: var(--primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Models */
.models {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.models__item {
  margin-right: 30px;
  margin-bottom: 30px;

  width: 370px;
}
.models__item:nth-child(3n) {
  margin-right: 0px;
}
.models__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.models__item:hover .model__text {
  transform: translateY(0);
}

.models__link {
  display: block;

  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.models__link:hover,
.models__link:focus {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.models__box {
  position: relative;
  overflow: hidden;
}

.model__text {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  width: 100%;
  height: 100%;

  color: var(--primary-background-color);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 00.03em;
  font-size: 18px;
  font-style: normal;
}

.models__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}

.models .models__heading {
  color: var(--primaryy-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.models .models__def {
  margin-top: 4px;

  color: var(--secondary-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}

/* modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate (-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 15px;
  min-width: 550px;
  min-height: 550px;

  background-color: #fff;
}

/* form */

/* application */

.application {
  position: relative;
  padding: 40px;
}
.application__heading {
  margin-bottom: 30px;

  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 00.03em;

  text-align: center;
}
.application__info {
  position: relative;
}

.application__label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-18px);

  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}
.application__input {
  padding-left: 42px;
  margin-bottom: 28px;

  position: relative;
  height: 40px;
  width: 450px;
  border: 1px solid #21212133;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;
}
.application__item {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.application__input:focus ~ .application__item {
  fill: var(--accent-color);
}
.application__input:focus,
.textarea__info:focus {
  border: 1px solid var(--accent-color);
}

/* textarea */

.textarea {
  position: relative;
}

.textarea__info {
  padding: 12px 16px;
  margin-bottom: 28px;

  resize: none;
  height: 120px;
  width: 450px;

  border: 1px solid #21212133;
  border-radius: 4px;

  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea__label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-18px);

  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

/* agreement */

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.agreement__label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03;
  color: var(--seconday-text-color);
}
.agreement__box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.agreement__tick {
  margin-right: 7px;
}
.agreement__box:checked + .agreement__tick {
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  fill: var(--accent-color);
  border-radius: 2px;
}

/* send button */
.send-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-box__button {
  width: 200px;
  height: 50px;

  color: #fff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px 0px #00000026;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-box__button:hover,
.send-box__button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

/* close button */

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;

  width: 30px;
  height: 30px;

  padding: 0px;
  margin: 8px;
}

.close-button__icon {
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  fill: var(--accent-color);
}
